.pie {
  display: inline-block;
  border-radius: 50%;
  background: conic-gradient( 
     white 59deg, black 59deg 61deg, white 61deg 119deg, black 119deg 121deg,
     white 121deg 179deg, black 179deg 181deg, white 181deg 239deg, black 239deg 241deg,
     white 241deg 299deg, black 299deg 301deg, white 301deg 358deg, black 358deg);
}
.pie::before {
  background-color: black;
}
